# Python build artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Node.js build artifacts
build/
dist/
node_modules/
Node_modules/
node/
